<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingredients For Tea</title>
</head>
<body>
    <form method="post" action="/post_ingredients_for_tea">
        <label for="tea_id">Tea:</label> <select name="tea_id">
            {% for tea in all_tea %}
                <option value= "{{ tea.tea_id }}" SELECTED>{{ tea.flavor }}</option>
            {% endfor %}
        </select> <br />

        <label for="ingredient_id">Ingredient:</label> <select name="ingredient_id">
            {% for ingredient in all_ingredients %}
                <option value= "{{ ingredient.ingredient_id }}" SELECTED>{{ ingredient.ingredient }}</option>
            {% endfor %}
        </select> <br />
        <input type="submit" />
    </form>

    {{ table }}

</body>
</html>