<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_ratings_for_tea</title>
</head>
<body>
    <form method="post" action="/post_ratings_for_tea">
        <label for="tea_id">Tea ID:</label><input id="tea_id" name="tea_id" type="number" />
        <label for="website_id">Website ID:</label><input id="website_id" name="website_id" type="number" />
        <input type="submit" />
    </form>

    {% for rating in all_ratings %}
        <li>{{ ingredient.tea_id }} - {{ ingredient.website_id }}</li>
    {% endfor %}

</body>
</html>