<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add tea</title>
</head>
<body>
    <form method="post" action="/post_tea">
        <label for="brand_id">Brand ID:</label><input id="brand_id" name="brand_id" type="number" />
        <label for="flavor">Flavor:</label><input id="flavor" name="flavor" type="text" />
        <label for="infuse_time">Infuse time (in minutes):</label><input id="infuse_time" name="infuse_time" type="number" />
        <label for="is_tea_loose">is_tea_loose:</label><input id="is_tea_loose" name="is_tea_loose" type="text" />
        <label for="tea_bags">tea_bags:</label><input id="tea_bags" name="tea_bags" type="number" />
        <label for="weight">weight:</label><input id="weight" name="weight" type="number" />
        <label for="type_id">type_id:</label><input id="type_id" name="type_id" type="number" />
        <input type="submit" />
    </form>
</body>
</html>