<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tea Instances</title>
</head>
<body>
    <form method="post" action="/post_instances">
        <label for="best_before">best_before:</label><input id="best_before" name="best_before" type="time" />
        <label for="left_weight">left_weight:</label><input id="left_weight" name="left_weight" type="number" />
        <label for="left_bags">left_bags:</label><input id="left_bags" name="left_bags" type="number" />
        <label for="tea_id">tea_id:</label><input id="tea_id" name="tea_id" type="number" />
        <input type="submit" />
    </form>

    {% for instance in all_instances %}
        <li>{{ instance.best_before }} - {{ instance.left_weight }} - {{ instance.left_bags }} - {{ instance.tea_id }}</li>
    {% endfor %}

</body>
</html>