<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Profile</title>
</head>
<body>
    <form method="post" action="/post_profile">
        <label for="tea_id">Tea ID:</label><input id="tea_id" name="tea_id" type="number" />
        <label for="taste">Taste:</label><input id="taste" name="taste" type="text" />
        <label for="rating">Rating:</label><input id="rating" name="rating" type="number" />
        <input type="submit" />
    </form>

    {% for profile in all_profiles %}
        <li>{{ profile.tea_id }} - {{ profile.taste }} - {{ profile.rating }}</li>
    {% endfor %}

</body>
</html>