<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add tea</title>
</head>
<body>
    <form method="post" action="/post_tea">
        <label for="brand_id">Brand:</label> <select name="brand_id">
            {% for brand in all_brands %}
                <option value= "{{ brand.brand_id }}" SELECTED>{{ brand.brand }}</option>
            {% endfor %}
        </select> <br />
        <label for="flavor">flavor:</label><input id="flavor" name="flavor" type="text" /> <br />
        <label for="infuse_time">Infuse time (in minutes):</label><input id="infuse_time" name="infuse_time" type="number" /> <br />
        <label for="is_tea_loose">is_tea_loose:</label><input id="is_tea_loose" name="is_tea_loose" type="text" /> <br />
        <label for="tea_bags">tea_bags:</label><input id="tea_bags" name="tea_bags" type="number" /> <br />
        <label for="weight">weight:</label><input id="weight" name="weight" type="number" /> <br />
        <label for="type_id">Type:</label> <select name="type_id">
            {% for type in all_types %}
                <option value= "{{ type.type_id }}" SELECTED>{{ type.type }}</option>
            {% endfor %}
        </select> <br />
        <label for="taste">taste:</label><input id="taste" name="taste" type="text" /> <br />
        <label for="rating">rating:</label><input id="rating" name="rating" type="number" /> <br />
        <input type="submit" />
    </form>

    {{ table }}

</body>
</html>