<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tea Tracker</title>
</head>
<body>
    <form action="add_tea" method="get">
        <input type="submit" value="Add Tea" />
    </form>

    <form action="add_brand" method="get">
        <input type="submit" value="Add Brand" />
    </form>

    <form action="add_type" method="get">
        <input type="submit" value="Add Tea Type" />
    </form>

    <form action="add_profile" method="get">
        <input type="submit" value="Add Profile" />
    </form>

    <form action="add_ingredients" method="get">
        <input type="submit" value="Add Ingredients" />
    </form>

    <form action="add_ingredients_for_tea" method="get">
        <input type="submit" value="Add Ingredients For Tea" />
    </form>

    <form action="add_instances" method="get">
        <input type="submit" value="Add Instances" />
    </form>

    <form action="add_ratings_for_tea" method="get">
        <input type="submit" value="Add Ratings For Tea" />
    </form>

    <form action="add_ratings" method="get">
        <input type="submit" value="Add Ratings" />
    </form>
</body>
</html>