{% extends "bootstrap/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tea Tracker</title>
</head>
<body>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>

    <div class="list-group" style="width: fit-content">
        <a class="btn btn-primary" href="/add_tea">Add Tea</a>
        <a class="btn btn-secondary" href="/add_brand">Add Brand</a>
        <a class="btn btn-secondary" href="/add_type">Add Tea Type</a>
        <a class="btn btn-secondary" href="/add_ingredients">Add Ingredients</a>
        <a class="btn btn-secondary" href="/add_ingredients_for_tea">Add Ingredients For Tea</a>
        <a class="btn btn-secondary" href="/add_instances">Add Instances</a>
    </div>

</body>
</html>
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap2.min.css')}}">
{% endblock %}
